$glass-to-image-ratio: (1 - (318/332)) * 100;

.logoImage {
  -moz-transform: translateX($glass-to-image-ratio * 1%);
  -ms-transform: translateX($glass-to-image-ratio * 1%);
  -o-transform: translateX($glass-to-image-ratio * 1%);
  -webkit-transform: translateX($glass-to-image-ratio * 1%);
  transform: translateX($glass-to-image-ratio * 1%);
  padding-right: $glass-to-image-ratio * 1%;
}
