@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&family=Merriweather&display=swap');

$font-size-base: 16px;
$font-family-body: 'Fira Sans', Helvetica, sans-serif;
$font-family-title: 'Merriweather', serif;
$font-family-code: 'Fira Code', monospace;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-family-title;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.04em;
  font-variant: small-caps;
}

.text-muted {
  font-family: $font-family-body;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.lead {
  font-family: $font-family-body;
  font-variant: small-caps;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

code {
  font-family: $font-family-code;
}

.text-color-primary {
  color: $text-color-primary;
}

.text-color-secondary {
  color: $text-color-secondary;
}

.text-color-disabled {
  color: $text-color-disabled;
}
