@mixin box-spacing() {
  @include box-padding;
  @include box-margin;
}

@mixin box-padding() {
  padding: 16px 16px;
}

@mixin box-margin() {
  margin: 16px 16px;
}

@mixin button() {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5em 2em 0.5em 1em;
  margin: 8px 0 37px 0;
  color: $text-color-primary;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

@mixin container() {
  @media only screen and (min-width: 1024px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @media only screen and (min-width: 1124px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  @media only screen and (min-width: 1224px) {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  @media only screen and (min-width: 1324px) {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}
