@import '../../styles/shared/variables';

.logoContainer {
  text-align: 'center';
  max-width: 100%;
  padding-left: 30px;
  overflow: hidden;
}

.logoImage {
  position: relative;
  max-width: 100%;
  left: calc(5% - 10px);
}
