@import '../../styles/shared/variables';

.chevronButton {
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 88vh;
  transition: all 0.2s ease-in-out;
}

.chevronButton:hover {
  transform: scale(1.2);
}
