@import '../../styles/shared/variables';

.chevronButton {
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 80vh;
  transition: all 0.2s ease-in-out;

}

.chevronButton:hover {
  transform: scale(1.2) translateX(-35%);
  -webkit-transform: scale(1.2) translateX(-35%);
}
