@import '../../styles/shared/variables';

.chevronButton {
  padding: 0;
  background: none;
  border: none;
  position: absolute;
  right: 50%;
  top: 70vh;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
