.card-title-container {
  position: relative;
  overflow: hidden;
  margin: -16px -16px 0px -16px;
}

.card-title-background {
  position: absolute;
  content: '';
  top: -32px;
  bottom: -16px;
  right: -16px;
  left: -16px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.card-title {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
