.card-title-container {
  position: relative;
  overflow: hidden;
  margin: -16px -16px 0px -16px;
}

.card-title-background {
  position: absolute;
  top: -32px;
  bottom: -16px;
  right: -16px;
  left: -16px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.card-title-background::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.34) 80%);
}

.card-title {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 1em 10px 1em;
}
