@import '../../../styles/shared/variables';

.hamburgerIcon {
  color: '#70F3FF';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

.hamburgerButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-style: inherit;
  cursor: pointer;
  outline: inherit;
}
