@import '../../styles/shared/variables';

.container {
  background-color: $background-accent;
  padding-top: 10vh;
  padding-bottom: 5vh;
  width: 100%;
  text-align: center;
}

.logoImage {
  width: 197px;
  height: 45px;
  padding-left: calc(5% - 10px);
}
