@import '../../styles/shared/variables';

.container {
  background-color: $background-accent;
  padding-top: 10vh;
  padding-bottom: 33px;
  width: 100%;
  text-align: center;
}

.logoImage {
  width: 197px;
  height: 45px;
  padding-left: calc(5% - 40px);
}

.leftAlign {
  float: left;
}

.rightAlign {
  float: right;
}

.links {
  padding: 48px 16px 32px 16px;
}

.copyright, a {
  color: $text-color-disabled;
}

.lead {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18.72px;
  line-height: 22px;
  color: $text-color-secondary
}

.row {
  justify-content: center;
  display: flex;
  margin: 0 -17.5px;
}

.column {
  padding: 0 17.5px;
}

.icon {
  width: 28px;
  height: 32px;
}

a {
  text-decoration: none;
}
