@import '../../../styles/shared/variables';
@import '../../../styles/shared/mixins';

.buttonWithIcon {
  @include button;

  border: 2px solid $accent-primary;
  color: $text-color-primary;

  &::after {
    $icon-size: 20px;
    position: absolute;
    content: '';
    right: 8px;
    top: 0.4em;
    color: $text-color-primary;
    width: $icon-size;
    height: $icon-size;
    background: url('../../../images/Link.svg');
    background-size: $icon-size;
    background-repeat: no-repeat;
  }
}
